<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="items.js"></script>
  </head>
  <body>
    <h1>Captain Node items</h1>
    <input id="new_item_title">
    <button id="add_item">Add</button>
    <hr>

    <ul>
      <div id="items">
        <% items.reverse().forEach(function(item) { %>
          <% include show %>
        <% }); %>
      </div>
    </ul>
  </body>
</html>
